.top {
    background-color: orangered;
}

.middle {
    background-color: white;
    display: flex;
    justify-content: center;
}

.bottom {
    background-color: green;
}

.top,
.middle,
.bottom {
    width: 350px;
    height: 60px;
    margin: auto;
    justify-content: center;
    align-items: center;
}

.wheel {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    outline: 1px solid darkblue;
    position: relative;
    animation-name: wheel;
    animation-iteration-count: infinite;
    animation-duration: 5s;
    animation-timing-function: linear;

}

@keyframes wheel {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.spokes {
    position: absolute;
    height: 100%;
    width: 1px;
    background-color: darkblue;
    left: 50%;
}

.spokes:nth-child(1) {
    transform: rotate(15deg);
    background-color: darkblue;
}

.spokes:nth-child(2) {
    transform: rotate(30deg);
}

.spokes:nth-child(3) {
    transform: rotate(45deg);
    background-color: darkblue;
}

.spokes:nth-child(4) {
    transform: rotate(60deg);
}

.spokes:nth-child(5) {
    transform: rotate(75deg);
}

.spokes:nth-child(6) {
    transform: rotate(90deg);
}

.spokes:nth-child(7) {
    transform: rotate(105deg);
}

.spokes:nth-child(8) {
    transform: rotate(120deg);
}

.spokes:nth-child(9) {
    transform: rotate(135deg);
}

.spokes:nth-child(10) {
    transform: rotate(150deg);
}

.spokes:nth-child(11) {
    transform: rotate(165deg);
}

.spokes:nth-child(12) {
    transform: rotate(180deg);
}

h1 {
    text-transform: uppercase;
    font-size: 2.5rem;
    margin: 40px;
    color: #f35626;
    text-align: center;
    font-family: 'monsterrat';
}